<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_CustomerLogin>
            <version>0.1.0</version>
        </Stuntcoders_CustomerLogin>
    </modules>
    <global>
        <models>
            <stuntcoders_customerlogin>
                <class>Stuntcoders_CustomerLogin_Model</class>
                <resourceModel>stuntcoders_customerlogin_resource</resourceModel>
            </stuntcoders_customerlogin>
            <stuntcoders_customerlogin_resource>
                <class>Stuntcoders_CustomerLogin_Model_Resource</class>
            </stuntcoders_customerlogin_resource>
        </models>
        <blocks>
            <stuntcoders_customerlogin>
                <class>Stuntcoders_CustomerLogin_Block</class>
            </stuntcoders_customerlogin>
        </blocks>
        <helpers>
            <stuntcoders_customerlogin>
                <class>Stuntcoders_CustomerLogin_Helper</class>
            </stuntcoders_customerlogin>
        </helpers>
        <resources>
            <stuntcoders_customerlogin_setup>
                <setup>
                    <module>Stuntcoders_CustomerLogin</module>
                </setup>
            </stuntcoders_customerlogin_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <stuntcoders_customerlogin>
                    <file>stuntcoders/customerlogin.xml</file>
                </stuntcoders_customerlogin>
            </updates>
        </layout>
        <routers>
            <stuntcoders_customerlogin>
                <use>standard</use>
                <args>
                    <module>Stuntcoders_CustomerLogin</module>
                    <frontName>stuntcoders_customerlogin</frontName>
                </args>
            </stuntcoders_customerlogin>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stuntcoders_customerlogin>
                                            <title>Customer login</title>
                                        </stuntcoders_customerlogin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <stuntcoders_customerlogin>
            <google>
                <enable>1</enable>
            </google>
        </stuntcoders_customerlogin>
        <stuntcoders_customerlogin>
            <facebook>
                <enable>1</enable>
            </facebook>
        </stuntcoders_customerlogin>
        <stuntcoders_customerlogin>
            <linkedin>
                <enable>1</enable>
            </linkedin>
        </stuntcoders_customerlogin>
    </default>
</config>